
body {
    background-color: rgb(118, 184, 123);
}


.app {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

.wheel {
    width: 100%;
    height: 100%;
}

.marker {
    position: absolute;
    width: 40px;
    left: 172px;
    top: -10px;
    z-index: 2;
  }

.button {
    display: block;
    width: 250px;
    margin: 40px auto;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
  }